https://vasanth16.github.io

# Milestone 1
Sam Childs and Vasanth Rajasekaran

## Introduction
Vasanth and I will be working together on the final tutorial for this class. We have identified a dataset from UC Irvine which includes review data from travelers on Google Reviews. It is called “Travel Review Rating Dataset”, and it is found in the university’s Machine Learning Repository. We are interested in asking questions about whether average user feedback for a specific type of attraction yields insights into other kinds of attractions. Perhaps certain attraction classes have overlapping sets of fans, or perhaps another attraction class is highly polarizing. We are also wondering about frequency of reviews by attraction class. Perhaps few people who enjoy attraction type A try attraction type B, but the few that do really enjoy the experience. Insights into how markets for travel entertainment clear inefficiently would be of great value to tourism boards

Link to dataset: https://archive.ics.uci.edu/ml/datasets/Tarvel+Review+Ratings

We are also investigating additional databases for travel data including data from other websites. We found a similar set for TripAdvisor, which follows a similar format. The challenge for comparing between datasets will be making comparisons when the attraction classes do not match. In some cases, two different review platforms might have a slightly different name for the same class of attractions. In others, classes might overlap, or worse, not exist at all in other datasets

## Collaboration Plan
To facilitate collaboration, Vasanth and I have set up a private Github repository to share workbooks and data. We will ensure that each commit to the Git repo will include thorough comments documenting the changes. We will meet over the phone weekly to update each other on our progress, or more frequently as necessary to facilitate deadlines. Included in these meetings will be discussions about how to resolve merges/conflicts as they arise during our work.

In [7]:
import pandas as pd

In [8]:
#The names list for the data set that is given on the data source website 
columnsList=[ 'Unique user id ', 'Average ratings on churches' 
,'Average ratings on resorts' 
,'Average ratings on beaches' 
,'Average ratings on parks' 
,'Average ratings on theatres' 
,'Average ratings on museums' 
,'Average ratings on malls' 
,'Average ratings on zoo' 
,'Average ratings on restaurants' 
,'Average ratings on pubs/bars' 
,'Average ratings on local services' 
,'Average ratings on burger/pizza shops' 
,'Average ratings on hotels/other lodgings' 
,'Average ratings on juice bars'
,'Average ratings on art galleries' 
,'Average ratings on dance clubs' 
,'Average ratings on swimming pools' 
,'Average ratings on gyms' 
,'Average ratings on bakeries' 
,'Average ratings on beauty & spas' 
,'Average ratings on cafes' 
,'Average ratings on view points' 
,'Average ratings on monuments' 
,'Average ratings on gardens']

In [12]:
googleData = pd.read_csv('./data/google_review_ratings.csv', header = 0, names=columnsList, index_col=False) 
# reads ratings CSV into pandas using header 0 and names from the list above
googleData # shows dataframe

,Unique user id,Average ratings on churches,Average ratings on resorts,Average ratings on beaches,Average ratings on parks,Average ratings on theatres,Average ratings on museums,Average ratings on malls,Average ratings on zoo,Average ratings on restaurants,...,Average ratings on art galleries,Average ratings on dance clubs,Average ratings on swimming pools,Average ratings on gyms,Average ratings on bakeries,Average ratings on beauty & spas,Average ratings on cafes,Average ratings on view points,Average ratings on monuments,Average ratings on gardens
0,User 1,0.00,0.00,3.63,3.65,5.00,2.92,5.00,2.35,2.33,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
1,User 2,0.00,0.00,3.63,3.65,5.00,2.92,5.00,2.64,2.33,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
2,User 3,0.00,0.00,3.63,3.63,5.00,2.92,5.00,2.64,2.33,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
3,User 4,0.00,0.50,3.63,3.63,5.00,2.92,5.00,2.35,2.33,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
4,User 5,0.00,0.00,3.63,3.63,5.00,2.92,5.00,2.64,2.33,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5451,User 5452,0.91,5.00,4.00,2.79,2.77,2.57,2.43,1.09,1.77,...,5.00,0.66,0.65,0.66,0.69,5.00,1.05,5.0,5.0,1.56
5452,User 5453,0.93,5.00,4.02,2.79,2.78,2.57,1.77,1.07,1.76,...,0.89,0.65,0.64,0.65,1.59,1.62,1.06,5.0,5.0,1.09
5453,User 5454,0.94,5.00,4.03,2.80,2.78,2.57,1.75,1.05,1.75,...,0.87,0.65,0.63,0.64,0.74,5.00,1.07,5.0,5.0,1.11
5454,User 5455,0.95,4.05,4.05,2.81,2.79,2.44,1.76,1.03,1.74,...,5.00,0.64,0.63,0.64,0.75,5.00,1.08,5.0,5.0,1.12
5455,User 5456,0.95,4.07,5.00,2.82,2.80,2.57,2.42,1.02,1.74,...,0.85,0.64,0.62,0.63,0.78,5.00,1.08,5.0,5.0,1.17

## Cleaning the Data

The travel data set was a relatively simple to import and format correctly. The first step was to define the column names as per the UCI ML website, there is a large list of names at the top. The second step was to read the csv using pandas. For this we set the heading to zero to cut out a row of vauge names (category 1, category, etc.) that come with the data set. We also had to set the index_col to false inorder to make the columns line up with the data. The data is now indexed correctly by user with specific categories for names.

# Milestone 2

## Additional Data

We found an additional dataset that looked at average reviews on various categories from travelers in Asia. Although not all of the attributes match between the datasets, we do have some overlapping that will allow for some comparisons. 

Link: https://archive.ics.uci.edu/ml/datasets/Travel+Reviews?fbclid=IwAR3EA8OhRIyMH6iFhOiUWh4OzYQ48MSfXHrW6pwAz1_xXdeWKRTBt6aab3Y

In [15]:
newColumns = [
    'Unique user id',
    'Average user feedback on art galleries',
    'Average user feedback on dance clubs',
    'Average user feedback on juice bars',
    'Average user feedback on restaurants',
    'Average user feedback on museums',
    'Average user feedback on resorts',
    'Average user feedback on parks/picnic spots',
    'Average user feedback on beaches',
    'Average user feedback on theaters',
    'Average user feedback on religious institutions'
]


TAData  = pd.read_csv('./data/tripadvisor_review.csv', header=0, names=newColumns)
TAData

,Unique user id,Average user feedback on art galleries,Average user feedback on dance clubs,Average user feedback on juice bars,Average user feedback on restaurants,Average user feedback on museums,Average user feedback on resorts,Average user feedback on parks/picnic spots,Average user feedback on beaches,Average user feedback on theaters,Average user feedback on religious institutions
0,User 1,0.93,1.80,2.29,0.62,0.80,2.42,3.19,2.79,1.82,2.42
1,User 2,1.02,2.20,2.66,0.64,1.42,3.18,3.21,2.63,1.86,2.32
2,User 3,1.22,0.80,0.54,0.53,0.24,1.54,3.18,2.80,1.31,2.50
3,User 4,0.45,1.80,0.29,0.57,0.46,1.52,3.18,2.96,1.57,2.86
4,User 5,0.51,1.20,1.18,0.57,1.54,2.02,3.18,2.78,1.18,2.54
...,...,...,...,...,...,...,...,...,...,...,...
975,User 976,0.74,1.12,0.30,0.53,0.88,1.38,3.17,2.78,0.99,3.20
976,User 977,1.25,0.92,1.12,0.38,0.78,1.68,3.18,2.79,1.34,2.80
977,User 978,0.61,1.32,0.67,0.43,1.30,1.78,3.17,2.81,1.34,3.02
978,User 979,0.93,0.20,0.13,0.43,0.30,0.40,3.18,2.98,1.12,2.46
979,User 980,0.93,0.56,1.13,0.51,1.34,2.36,3.18,2.87,1.34,2.40